html {
  margin-top: 50px;
}
body {
  background-color: aqua;
}
h1 {
  color: #444;
}
button {
  border-radius: 5px;
  background-color: white;
  color: #696cff;
  width: 50%;
  height: 40px;
  margin-left: 26%;
  border-color: #696cff;
}

body {
  padding: 43px;
}
p,
h2 {
  text-align: center;
}
